:root {
    --gunmetal: #22333B;
    --almond: #EAE0D5;
    --walnut-brown: #5E503F;
    --khaki: #C6AC8F;
    --black: #0A0908;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Work Sans", serif;
}

body {
    background-image: url(./beer-background.png);
    background-position: center;
    background-repeat: repeat;
    background-size: 145px;
}

main {
    background-color: white;
    padding: 20px;
    margin: 2em auto;
    width: 95%;
    border-radius: 10px;
}

header {
    background: var(--gunmetal);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--almond);
}

.logo a {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1px;
}

ul {
    display: flex;
    justify-content: center;
}

ul li {
    list-style-type: none;
    padding: 0 10px;
}

ul li a {
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 10px;
    transition: all 0.5s;
    border-radius: 5px;
}

ul li a:hover {
    background-color: var(--almond);
    color: var(--gunmetal);
}

/* .flow {
    width: 100%;
    padding: 0 10px;
} */

#map {
    position: relative;
    width: 100%;
    height: 50%;
    float: none;
}

.space {
    padding: 15px 0;
}

nav.space {
    padding-top: 5px;
    padding-bottom: 15px;
}

.search-form {
    padding-bottom: 10px;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    padding: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    padding: 9px;
    font-size: 17px;
    border: 1px solid var(--walnut-brown);
    border-radius: 4px;
}

button {
    display: inline-block;
    border-radius: 4px;
    background: #22333b;
    border: none;
    color: var(--almond);
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
}

button .search-btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button .search-btn:after {
    content: "🍺";
    font-size: 15px;
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -35px;
    transition: 0.5s;
}

button:hover .search-btn {
    padding-right: 30px;
    padding-left: 5px;
}

button:hover .search-btn:after {
    opacity: 1;
    right: 0;
}

.search-results {
    flex-grow: 1;
    overflow: auto;
    height: 52.3vh;
    margin-bottom: 20px;
    border-radius: 3px;
}

.search-results::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #fff;
}

.search-results::-webkit-scrollbar {
    width: 10px;
}

.search-results::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: var(--khaki);
    border: 1px solid var(--walnut-brown);
}

.card {
    padding: 20px;
}

.card:nth-child(even) {
    background-color: var(--khaki);
}
.card:nth-child(odd) {
    background-color: var(--almond);
}

div > span {
    display: block;
    padding-bottom: 10px;
}

span.bar-name {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.8px;
}

span a {
    color: #000;
}

div > button .save-btn::after {
    content: "✔️";
    font-size: 15px;
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -35px;
    transition: 0.5s;
}

div > button .save-btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

div > button:hover .save-btn {
    padding-right: 30px;
    padding-left: 5px;
}

div > button:hover .save-btn:after {
    opacity: 1;
    right: 0;
}